@font-face{
    font-family: helvetica;
    src: url("helvetica-light-condensed.woff2") ;
}

@font-face {
font-family: monospace821;
src: url("Bitstream - Monospac821 BT Roman.woff2") ;
}

body{
    background-color: #0033B7;
    overflow-x: hidden;
}


.footer {
 background-color: white;
 width: 120vw;
 height: 4rem;
margin-left: -2rem;
margin-top: 49rem;
position: fixed;

}

.maintext { 
    font-family: helvetica;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    margin-top: 0rem;
    line-height: 4rem;
}

.img1{
    position: relative;
    width: 50%;
  }

  .word{
    color: black;
    background-color: white;
    width: min-content;
    font-family: monospace821;
    font-size: 2.5rem;
  }

  .contain{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .wordimg{
    position: relative;
    margin-bottom: 4rem;
  }